<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="UTF-8" />
        <title>Janken : Home</title>
        <link rel="stylesheet" href="/css/screen.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/flaticon.css" />
	</head>

	<body>
		<header>
			<ul class="menu">
				<li class="logo">
					<span>Flat Janken</span>
				</li>
				<li class="user">
					<div class="flaticon-user127"> <%= user.username %></div>
				</li>
				<li class="room">
					<div class="flaticon-fivepointed4">Sur la Home</div>
				</li>
				<li class="all_users">
					<div class="flaticon-group60"> <a href="#">Voir tous les utilisateurs</a></div>
				</li>
			</ul>
		</header>
		<h1>Bienvenue sur Flat Janken !</h1>

		<% if(user.username !== 'inconnu') { %>

			<section class="section_second">
				<p>
					Sois le bienvenue sur Janken <b class="welcome"><%= user.username %></b> ! <br />
					Tu peux sans plus attendre choisir une session de jeu !
				</p>

				<% for (var r = 1; r < 4; r++) { %>
				    <form action="" class="roomForm"><span class="info_room_<%=r%>"><%= rooms[r].length %></span> / 2
						<input type="hidden" value="<%=r%>" />
						<input type="submit"class="room" value="Room <%=r%>" />
					</form>
				<% } %>

			</section>

		<% } else { %>
			<section class="section_first">

				<p>
					Pour entrer dans une session de jeu, vous devez vous créer un pseudo ! <br />
					Ecrivez votre pseudo puis jouez avec vos amis !
				</p>

				<p class="error"></p>

				<form action="" id="loginForm">
					<input type="text" name="username" class="username" />
					<input class="validation button-submit" type="submit" value="Entrer" />
				</form>
			</section>

		<% } %>

		<footer>
			<div class="copyright">@Webarranco</div>
		</footer>

		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
        <script src="/connect_io.js"></script>

		<script>

			$(document).ready(function() {

				$(document).on('submit', '.roomForm', function(e) {
					e.preventDefault();
					var room_id = $(this).find('input[type=hidden]').val();

					$.post(app_url+"/joinRoom",{room_id:room_id},function(data){
						if(data === 'OK') {
							socket.emit('joinRoom', {room_id: room_id});
			                document.location = "/janken";
			            } else if(data === 'KO') {
			            	alert('déjà trop de personnes dans cette room');
			            }
					});
				});

				socket.on('infoRoom', function(room) {
					var number_in_room = parseInt($('.info_room_'+room.room_id).text()) + 1;
	                $('.info_room_'+room.room_id).text(number_in_room);
	            });

	            socket.on('infoLeftRoom', function(room) {
					var number_in_room = parseInt($('.info_room_'+room.room_id).text()) - 1;
	                $('.info_room_'+room.room_id).text(number_in_room);
	            });

				$('#loginForm').submit(function(e) {
					e.preventDefault();
					var username = $('.username').val();
					if($('.username').val() !== '' && username !== null && username !== undefined) {
						$.post(app_url+"/login",{username:username},function(data){
							if(data === 'done') {
				                window.location.href="/";
				            }
						});
					}
				});
			});

		</script>

	</body>
</html>
